<div class="center">
  <h1>
      Register Page
  </h1>

  <mat-form-field class="">
      <mat-label>Email</mat-label>
      <input
          matInput
          placeholder="Email"
          name="email"
          [(ngModel)]="this.email"
      />
  </mat-form-field>

  <mat-form-field class="">
      <mat-label>Password</mat-label>
      <input
          matInput
          placeholder="Password"
          type="password"
          name="password"
          [(ngModel)]="this.password"
      />
  </mat-form-field>

  <a mat-button (click)="redirectToLogin()">
      Already have an account?
  </a><br>

  <button mat-raised-button (click)="onRegisterClick()">Register</button>
</div>
