<div class="center">
  <h1>
    Login Page
  </h1>

  <mat-form-field class="">
      <mat-label>Correo electrónico</mat-label>
      <input
          matInput
          placeholder="Email"
          name="email"
          [(ngModel)]="this.email"
      />
  </mat-form-field><br>

  <mat-form-field class="">
      <mat-label>Contraseña</mat-label>
      <input
          matInput
          placeholder="Password"
          type="password"
          name="password"
          [(ngModel)]="this.password"
      />
  </mat-form-field>

  <a class="" mat-button (click)="redirectToRegister()">
      Without an account?
  </a><br>

  <button class='' mat-raised-button (click)="onLoginClick()">
    Log In
  </button>
</div>
