<div style="margin: 15px;">
  
  <div id="filters">
    <mat-button-toggle-group name="filters" multiple (change)="onFilterChange($event)">
      <mat-button-toggle value="quit"><mat-icon>clear</mat-icon></mat-button-toggle>
      <mat-button-toggle value="name">Name</mat-button-toggle>
      <mat-button-toggle value="category">Category</mat-button-toggle>
      <mat-button-toggle value="user">User</mat-button-toggle>
    </mat-button-toggle-group>  
  </div>
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="standard" (click)="showFilters()">
        <mat-label>Search your function</mat-label>
        <input (change)="filterFunctions($event)" [disabled]="!searchEnabled" matInput placeholder="matematicas" >
      </mat-form-field>
    </form>
  </div>
</div>

<div *ngFor="let func of filteredFunctions; let i = index"  style="width: 25rem;">
    <mat-card class="function-card">
        <mat-card-title-group>
          <mat-card-title>{{ func.name }}</mat-card-title>
          <mat-card-subtitle>{{ func.category }} | Esteban Madrigal</mat-card-subtitle>
        </mat-card-title-group>
        <div [innerHTML]="func.html_colored_code"></div>
        <br>
        <mat-card-content>
          <p>
            {{ func.description }}
          </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>USAR</button>
          <button mat-button>VER</button>
        </mat-card-actions>
    </mat-card>
</div>
