<div *ngFor="let func of all_functions; let i = index"  style="width: 25rem;">
    <mat-card class="function-card">
        <mat-card-title-group>
          <mat-card-title>{{ func.name }}</mat-card-title>
          <mat-card-subtitle>{{ func.category }} | Esteban Madrigal</mat-card-subtitle>
        </mat-card-title-group>
        <div [innerHTML]="func.html_colored_code"></div>
        <br>
        <mat-card-content>
          <p>
            {{ func.description }}
          </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>USAR</button>
          <button mat-button>VER</button>
        </mat-card-actions>
    </mat-card>
</div>
